[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sympy = "*"
scipy = "*"
matplotlib = "*"
jupyter = "*"
ipympl = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[requires]
python_version = "3.11"
